<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>${title}</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<!--<h1>Survey List</h1>-->

<div>
</div>
<br/><br/>
<div>
    <table border="0">
        <tr th:each ="survey : ${surveys}">
            <td><a th:href="@{/surveys/{surveyId}(surveyId=${survey.surveyId})}" th:utext="${survey.surveyName}">...</a></td>
        </tr>
    </table>
</div>
<br/><br/>
</body>
</html>