<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Submit survey</title>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>-->
    <!-- Bootstrap CSS file -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<!--<h5>Please Submit the Survey</h5>-->
<!--<a class="nav-link" th:href="@{/surveys}"><< Back to Surveys</a>-->
<div th:if="${survey}">
    <form th:action="@{/responses}" method="post" th:object="${response}">
        <input type="hidden" name="surveyId" th:value="${survey.surveyId}">
        <div class="alert alert-danger" th:if="${errors}"><h6 th:utext="${errors}">...</h6></div>
        <div class="col-xs-4 text-center text-info"><h5 class="card-header" th:utext="${survey.surveyName}">...</h5></div>
        <br/>
        <table border="0">
            <tr th:each ="question : ${survey.questions}">
                <td><h5 class="card-header" th:utext="${question.title}">...</h5></td>
                <table border="0">
                    <ul class="list-group ">
                        <li class="list-group-item" th:each="option : ${question.options}">
                            <input type="checkbox" th:field="*{optionIds}" th:value="${option.optionId}" />
                            <label th:for="${option.optionId}"
                                   th:utext="${option.optionText}"></label>
                        </li>
                    </ul>
                </table>
            </tr>
        </table>
        <br/>
<!--        <div class="col-xs-4"><a href="@{/surveys}" class="btn btn-success" role="button">❮❮ Back To Surveys</a></div>-->
<!--        <div class="col-xs-4 text-right"><button type="submit" class="btn btn-success">Submit</button></div>-->
        <div class="text-center container-fluid">
<!--                <a href="@{/surveys}" class="pull-left btn btn-success" role="button">❮❮ Back To Surveys</a>-->
                <a class="pull-left btn btn-success" role="button" th:href="@{/surveys}">❮❮ Back To Surveys</a>
                <button type="submit" class="pull-right btn btn-success">Submit</button>
        </div>
    </form>
</div>
<div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />
<!-- JS files: jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
